.product {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  max-width: 250px;
  margin: 10px;
  /* max-height: 400px; */
  width: 100%;
  z-index: 2;
  padding: 16px;
  margin: 10px;
  transition: all 1s;
  border: 1px solid #d1d1d1;
}
.product:hover {
  transform: scale(1.05);
  box-shadow: 2px 4px rgb(194, 186, 186);
}
.product > img {
  max-height: 200px;
  max-width: 150px;
  z-index: -1;
}

.product_info {
  width: 100%;
  text-align: justify;
}
.product_info p strong {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.product_info p {
  font-size: 14px;
  word-spacing: 2px;
}
.product_star {
  display: flex;
}

.product button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 3px;
  width: 100%;

  margin-top: 5px;
}
